<div class="column is-one-quarter">
  <nav class='panel'>
    <p class='panel-heading'>Trends</p>
    <a class=panel-block>
      Shake and Bake
    </a>
    <a class=panel-block>
      Eating food
    </a>
    <a class=panel-block>
      Being a shark
    </a>
    <a class=panel-block>
      Fun
    </a>
    <a class=panel-block>
      Having fun here
    </a>
    <a class=panel-block>
      Good stuff
    </a>
  </nav>
</div>